body {
    background: #cecece;
}

.card {
    height: 64px;
    width: 49px;
    max-width: 49px;
    background-color: rgba(0,0,0,0.1);
}

#card-AC
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 0 0px;
    border-style: solid;
    border-width: 1px;
}

#card-KC
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 49px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-QC
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 98px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-JC
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 147px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-10C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 196px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-9C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 245px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-8C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 294px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-7C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 343px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-6C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 392px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-5C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 441px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-4C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 490px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-3C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 539px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-2C
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 588px 0px;
    border-style: solid;
    border-width: 1px;
}

#card-AS
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 0 64px;
    border-style: solid;
    border-width: 1px;
}

#card-KS
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 49px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-QS
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 98px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-JS
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 147px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-10S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 196px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-9S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 245px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-8S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 294px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-7S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 343px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-6S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 392px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-5S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 441px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-4S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 490px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-3S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 539px 64px;
    border-style: solid;
    border-width: 1px;
}

#card-2S
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 588px 64px;
    border-style: solid;
    border-width: 1px;
}



#card-AH
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 0 128px;
    border-style: solid;
    border-width: 1px;
}

#card-KH
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 49px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-QH
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 98px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-JH
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 147px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-10H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 196px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-9H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 245px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-8H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 294px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-7H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 343px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-6H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 392px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-5H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 441px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-4H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 490px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-3H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 539px 128px;
    border-style: solid;
    border-width: 1px;
}

#card-2H
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 588px 128px;
    border-style: solid;
    border-width: 1px;
}


#card-AD
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 0 192px;
    border-style: solid;
    border-width: 1px;
}

#card-KD
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 49px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-QD
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 98px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-JD
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 147px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-10D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 196px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-9D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 245px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-8D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 294px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-7D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 343px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-6D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 392px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-5D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 441px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-4D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 490px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-3D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 539px 192px;
    border-style: solid;
    border-width: 1px;
}

#card-2D
{
    height: 64px;
    width: 49px;
    background-image: url("../img/deck.png");
    background-position: 588px 192px;
    border-style: solid;
    border-width: 1px;
}

