{% extends "base.html" %}
{% block content %}
    <h1>Admin Panel</h1>
    <br>
    <div class="row">
        <div class="col-md-5 col-sm-12 mb-sm-5">
            <h2>Create users</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="user">Username</label>
                    <input type="text" class="form-control" id="user" name="user" required placeholder="Username" pattern="[a-zA-Z0-9\-_]+">
                    <small class="form-text text-muted">May contain letters, numbers, -, and _</small>
                    <label for="password">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required placeholder="Password" pattern="[a-zA-Z0-9\-_]+">
                    <small class="form-text text-muted">May contain letters, numbers, -, and _</small>
                </div>
                <input type="submit" value="Add user" class="btn btn-primary">
            </form>
            {{ message }}
        </div>
        <div class="col-md-5 offset-md-2 col-sm-12">
            <h2>Create tables</h2>
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label for="table">Table name</label>
                    <input type="text" class="form-control" id="tablename" name="tablename" required placeholder="Table name">
                </div>
                <input type="submit" name="tablemode" value="Add table" class="btn btn-primary">

                <input type="submit" name="tablemode" value="Remove table" class="btn btn-primary">
            </form>
            {{ message2 }}
        </div>
    </div>
{% endblock content %}