{% extends "base.html" %}
{% block content %}
    <h1>Five Card Stud Poker</h1><br>
    <form action="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="username">Player Name<span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="username" name="username" required placeholder="Username">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password<span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="password" name="password" required placeholder="Password">
            </div>
        </div>
        {% if error_message %}
            <span class="text-danger">{{ error_message }}</span>
            <br>
        {% endif %}
        <br>
        <br>
        <ul class="list-group">
            {% for table in tables %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col">{{ table.name }}</div>
                        <div class="col"><span class="text-secondary">{{ table.user_set.all.count }}/{{ table.MAX_USERS_PER_TABLE }}</span></div>
                        <div class="col">
                            {% if table.is_full %}
                                <input class="button btn btn-primary float-right" type="submit" name="{{ table.name }}" value="Join" disabled>
                            {% else %}
                                <input class="button btn btn-primary float-right" type="submit" name="{{ table.name }}" value="Join">
                            {% endif %}
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </form>
{% endblock content %}