{% extends "base.html" %}
{% block content %}
    <h1>{{ table_name }}</h1>
    <small>{{ full_seats }}/4 players</small>
    <br>
    <br>
    {% if hand %}
        <div class="row justify-content-between" id="my-cards">
        <span class="col-2">My hand ({{ username }})</span>
        {% for card in hand %}
            <div class="card">
                <span id="card-{{ card }}"></span>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    <br>
    {% for player in players %}
        <div class="row justify-content-between">
            <span class="col-2">{{ player }}</span>
            {% with ''|center:5 as range %}
            {% for _ in range %}
                <div class="col-1 card p-0"></div>
            {% endfor %}
            {% endwith %}
        </div>
        <br>
    {% endfor %}
    {% if username %}
        <form action="" method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="quit">
            <input type="submit" value="Quit" class="btn btn-danger">
        </form>
    {% endif %}
{% endblock content %}